$border-color: #f99589;
$accent-color: #f75c49;
$hover-accent-color: #cc4836;

$link-color: #65b7e0;
$hover-link-color: #1c8fad;
$body-shadow-color: #dfdfdf;
$h1-hover-color: #efefef;

$table_secondary-color: #f9f5f9;
$table_hover-color: #fafafa;

$filter-gray-color: #999999;
$arrow-darker-hover: #303030;

$popup-border-color: #8d8d8d;
$popup-shadow-color: #bababa;
$popup-h2-color: #333;

$font-stack: PT Sans, Segoe UI, Arial, sans-serif;

@mixin for-small-screens {
    @media only screen and (max-width: 768px) { @content; }
}

body{
    color: black;
    font-family: $font-stack;
    
    a {
        text-decoration: none;
        color: $link-color;

        &.link_name{
            color: black;
        }
    }

    header, main, footer {
        width: 83%;
        margin: auto;
    }
    
    main > section{
        &::before{
            height: 1px;
            width: 55%;
            background-color: black;
            content: "";
        }
    }
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 94%;
    margin: auto;
    box-shadow: 10px 0 5px -2px $body-shadow-color, -10px 0 5px -2px $body-shadow-color;

}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    height: 50px;
    margin-top: 40px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;

    nav {
        display: flex;
        align-items: center;
        @include for-small-screens{
            flex-wrap: wrap;
        }
        height: 100%;
        a {
            font-size: 17px;
            margin-right: 45px;
            font-weight: 550;
        }
    }
}

.nav{

    &-header a{

        color: $accent-color;
        &:hover {
            color: $hover-accent-color;
        }
    }
    &-footer a {

        color: $link-color;
        &:hover {
            color: $hover-link-color;
        }
    }
}



.add_button {
    border: 1px $border-color solid;

    color: $accent-color;
    padding: 3px;
    width: 170px;
    height: 50px;

    @include for-small-screens{
        margin-top: 30px;
        margin-bottom: 10px;
    }

    font-weight: bold;
    font-size: 17px;
    

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: $accent-color;
    }
}

h1 {
    font-family: 'Playfair Display' Black, Bodoni MT, Georgia, Cambria, serif;
    text-align: left;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 1px;

    color: white;
    text-shadow: -1px -2px $accent-color, 1px 2px Black;
    
    &:hover {
        color: $h1-hover-color;
    }
}


h2.main_page_header {
    text-align: center;
    font-size: 36px;

    width: 55%;
    margin-top: 10px;
    padding: {
        top: 20px;
        bottom: 40px;
    }
}


hr {
    margin: auto;
    margin: {
        top: 15px;
        bottom: 50px;
    }
    width:55%;
    height: 1px;

    color: black;
    border-color: black;
}

.top_header{
    display: flex;
    justify-content: space-between;
    @include for-small-screens{
        flex-wrap: wrap;
    }
}

.searchbar {

    input[type='text'] {
        margin-right: 20px;
        width: 190px;
        height: 40px;
        padding-left: 8px;

        @include for-small-screens{
            width: 190px;
            height: 40px;
    
            margin-right: 0px;
            padding-left: 0px;
        }

    }

    input[type='submit'] {
        color: $accent-color;
        border: 1px $accent-color solid;
        background-color: white;
        
        margin-top: 30px;
        @include for-small-screens{
            margin: 10px;
        }

        width: 90px;
        height: 40px;
        
        font: bold 11px $font-stack;

        &:hover {
            color: white;
            background-color: $accent-color;
        }
    }
}


.table_stat_pages{
    width: 100%;

    margin: {
        top: 40px;
        bottom: 40px;
    }

    text-align: left;

    a{
        padding: {
            left: 10px;
        }

        &:first-child {
            padding-left: 20px;
        }

        
        &:active, &.current_page{
            color: black;
            &:hover{
                color: black;
            }
        }

        &:hover{
            color: $hover-link-color;
        }

        cursor:pointer;

        user-select: none;
    }

    span{

        padding: {
            left: 10px;
        }

        user-select: none;
    }

}

.teacher_element {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    margin: {
        bottom: 45px;
    }
    position: relative;

    .star {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 20%;
    }
    .comp_card {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;
        width: 115px;
        height: 115px;
        @include for-small-screens{
            width: 80px;
            height: 80px;
        }

        border: 4px $border-color solid;
        border-radius: 50%;

        cursor: pointer;
        color: $accent-color;

        
        
        &:hover {
            border-color: $hover-accent-color;
            color: $hover-accent-color;
        }
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            
            border-radius: 50%;

            transition: all .2s ease-in-out; 

            &:hover{
                transform: scale(1.2);
            }
            
        }
        p{
            font-size: 28px;
            margin: auto;
            color: inherit;
            
        }
    }
    p.top_name_big{
        font-size: 28px;
        @include for-small-screens{
            font-size: 100%;
        }

        margin: {
            top: 20px;
            bottom: 21px;
        }
        word-spacing: 10000%;
    }
    p {
        font-size: 10px;
    }
}

.filter {
    text-align: left;
    font-size: 15px;
    @include for-small-screens{
        font-size: 10px;
    }
    
    width: 100%;
    height: 20px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    span {
        display: flex;
        align-items: center;

        height: 100%;
    }

    div{
        display: flex;
    }

    div:not(:last-child){
        border-right: 2px $filter-gray-color dotted;
        padding-right: 45px;
    }

    input, label {
        display: flex;
        align-items: center;

        height: 100%;

        color: $filter-gray-color;

        &:hover {
            color: black;
        }
    }

    input[type='checkbox'] {
        margin: {
            left: 25px;
            right: 7px;
        }

        border-radius: 50%;
    }
}

ul.top {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    width: 100%;

    margin: {
        top: 30px;
        bottom: 20px;
    }
}

.table_stats{
    width: 100%;

    border-collapse: separate;
    
    th, td {
        text-align: left;
    }

    th + th, td + td {
        text-align: center;
    }

    tbody > tr{
            &:first-child {
                background-color: white;
                font-size: 16px;
            }

            &:nth-child(even) {
                background-color: $table_secondary-color;
            }
        }
    

    th {
        &:first-child {
            padding-left: 20px;
        }

        padding: {
            top: 18px;
            bottom: 18px;
        }
        border-bottom: 1px black solid;
        
        &:hover {
            background-color: $table_hover-color;
            border-bottom: 5px black solid;
            padding-bottom: 13px;
        }
    }

    td {
        &:first-child {
            padding-left: 20px;
        }

        padding: {
            top: 13px;
            bottom: 13px;
        }
    }

}



.fav_section
{

    width:100%;
    
    .fav_with_arrows{
        display: flex;
        flex-direction: row;

        width:120.25%;
        @include for-small-screens{
            width: 100%;
        }

        a{
            margin: auto;
            @include for-small-screens
            {
                display: none;
            }
        }
        
        ul {
            width: 83.1%;
            @include for-small-screens{
                width: 100%;
            }

            display: flex;
            justify-content: space-between;

            @include for-small-screens{
                .teacher_element .comp_card{
                    display: none;
                }

            }
        }

        .fav-selected .comp_card {
            border: 4px $hover-accent-color solid;
        }

        .arrow {
            color: $filter-gray-color;

            display: inline;

            font-size: 65px;

            &:hover{
                color: $arrow-darker-hover;
            }
        }

    }
}


.overlay {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0);

    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

    z-index: 1;

    &:target {
        visibility: visible;
        opacity: 1;
    }
}
  
.popup {
    
    position: relative;

    left: 50%;
    top: 3%;

    transform: translate(-50%, 5%);

    z-index: 2;

    border: 1px solid $popup-border-color;
    background-color: white;
    box-shadow: 2px 3px 5px $popup-shadow-color, -1px -2px 2px $popup-shadow-color;

    max-width: 950px;

    @include for-small-screens{
        position: unset;
        transform: unset;
        max-width: unset;
    }

    h2 {
        margin-top: 0;

        color: $popup-h2-color;

        font-family: Tahoma, Arial, sans-serif;
      }

      .content {
        max-height: 30%;

        overflow: auto;
      }
}

.popup_header {
    position: relative;

    width: 100%;

    h2 {
        width: 100%;
        
        border: 0;
        
        margin: {
            top:20px;
            bottom:35px;
        }

        text-align: center;
        font-size: 225%;
    }

    a {
        position: absolute;
        right: 0;
        top: 0;

        margin: {
            right: 15px;
            top: 20px;
        }

        font-size: 131.25%;

        color: black;

        cursor: pointer;
    }
}





.add_card {
    width: 400px;
    height: 710px;
    @include for-small-screens{
        width: 100%;
        height: 100%;
    }

    form {
        width: 62%;
        height: 79%;
        @include for-small-screens{
            width: unset;
            height: unset;  
        }

        & > label:not(.gender), & > input, & > select {
            width: 100%;

            display: inline-block;
        }

        label {
            text-align: left;

            margin: {
                bottom: 10px;
                top: 15px;
            }
        }

        input, select {
            height: 32px;
        }

        .choice {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-top: 15px;

            legend{
                float: left;
            }
        }
        .color{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            margin-top: 15px;
            
            legend{
                float: left;
                width: 60%;
            }

            height: 24px;

            div{
                width: 40%;

                display:flex;
                justify-content: right;

                input{
                    width: 3vw;
                    height: 2vw;
                }

                img{
                    width: 20%;
                    align-self: end;
                }
            }
            
        }
        .gender_select {
            display: flex;
            align-items: center;

            label {
                margin: {
                    right: 8px;
                    left: 8px;
                }
            }
        }

        input[type="submit"] {
            width: 100%;
            height: 10.7%;

            background-color: white;

            margin: {
                top: 7.7%;
                bottom: 7.7%;
            };

            &:hover {
                color: white;
                background-color: $accent-color;
            }

            font-weight: bold;
            font-size: 24px;

            color: $accent-color;
            border: 1px $border-color solid;

            cursor: pointer;
        }
    }
}



.teacher_info_card {
    
    width: 65.972vw;
    @include for-small-screens{
        width: 100%;
        height: 100%;
    }

    .card {
        width: 100%;

        display: grid;
        grid-template-areas: 
            "pic info"
            "footer footer";
        grid-template-columns: 50% 50%;

        padding: 0px 70px 0px 70px;

        .pic {
            grid-area: pic;

            width: 100%;
            //height: 22.5vw;
        }

        .teacher_star {
            font-size: 1.5rem;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;

            .star {
                width: 30px;
                height: 30px;
            }

        }

        .personal_info {
            @include for-small-screens{
                margin-left: 10%;
            }

            margin-left: 10px;

            grid-area: info;
            align-items: flex-start;
            

            p {
                margin-bottom: 22px;
            }

            a {
                color: $link-color;

                &:hover{
                    color: $hover-link-color;
                }
            }

            font-size: 0.85rem;
        }

        .other_info {
            
            grid-area: footer;

            align-items: baseline;

            text-align: initial;
            font-size: 0.75rem;
            @include for-small-screens{
                font-size: 80%;
            }

            padding-top: 30px;
            padding-bottom: 30px;

            p {
                margin-bottom: 15px;
            }

            a {
                color: $link-color;

                padding: 2px;

                border-bottom: 1px $link-color dashed;

                cursor: pointer;

                &:hover{
                    color: $hover-link-color;
                    border-bottom-color: $hover-link-color;
                }
            }

        }
    }

    
}


footer {
    text-align: left;
    p {
        margin-bottom: 20px;
    }

    .navbar {
        height: 50px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}