@import "variables.scss";
@import "mixins.scss";

#fav {
  width: 100%;
}

#carousel-fav-list {
  @include flex-align-centered;
  justify-content: center;

  width: $width-body - 200px;

  ul {
    width: $width-body - 200px;
    @include grid-layout(200px);
  }
}

.fav-selected .comp-card {
  border: 4px $color-accent-hover solid;
}

.arrow {
  font-size: 65px;
  color: $color-grey;
  display: inline;
}

.fa-chevron {
  &-left {
    margin-right: 20px;
  }
  &-right {
    margin-left: 20px;
  }
}