body {
  font-family: PT Sans, Segoe UI, Arial, sans-serif;
  color: #000000;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;
  box-shadow: 10px 0 5px -2px #efefef, -10px 0 5px -2px #efefef;
}

a {
  text-decoration: none;
  color: #65b7e0;
}

header, main, footer {
  width: 1000px;
  margin: auto;
}

h1 {
  font-family: Playfair Display Black, Bodoni MT, Georgia, Cambria, serif;
  text-align: left;
  font-size: 35px;
  font-weight: 900;
  color: #ffffff;
  text-shadow: -1px -2px #f75c49, 1px 2px #000000;
  letter-spacing: 1px;
}
h1:hover {
  color: #efefef;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  border-top: 1px #000000 solid;
  width: 600px;
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 15px;
  margin-bottom: 50px;
  height: 1px;
  color: #000000;
  border-color: #000000;
}

/*# sourceMappingURL=generals.css.map */
