@import "variables.scss";
@import "mixins.scss";

body {
  font-family: $font-stack;
  color: $color-black;

  flex-direction: column;
  @include flex-align-centered;

  width: $width-body;
  margin: auto;
  box-shadow: 10px 0 5px -2px $color-box-shadow, -10px 0 5px -2px $color-box-shadow;
}

header, main, footer {
  width: $width-body - 200px;
  margin: auto;
}

section {
  @include flex-align-centered;
  flex-direction: column;
}

h1 {
  font-family: Playfair Display Black, Bodoni MT, Georgia, Cambria, serif;
  text-align: left;
  font-size: 35px;
  font-weight: 900;
  color: $color-white;
  text-shadow: -1px -2px $color-accent, 1px 2px $color-black;
  letter-spacing: 1px;

  &:hover {
    color: $color-box-shadow;
  }
}

h2 {
  border-top: 1px $color-black solid;
  width: $width-body / 2;
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  padding: {
    top: 20px;
    bottom: 20px;
  }
}

a {
  text-decoration: none;
  color: $color-link;
}

hr {
  margin: {
    left: $width-body / 4;
    right: $width-body / 4;
    top: 15px;
    bottom: 50px;
  }
  height: 1px;
  color: $color-black;
  border-color: $color-black;
}

.blurred {
  filter: blur(10px);
  box-shadow: none;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  body {
    width: $width-body-mobile;
  }

  header, main, footer {
    width: calc(#{$width-body-mobile} - 100px);
  }

  h1 {
    font-size: 25px;
    text-shadow: -1px -1px $color-accent, 1px 1px $color-black;
    margin: 0;
    height: 80px;
    @include flex-align-centered;
  }

  h2 {
    width: $width-body-mobile / 2;
    font-size: 23px;
    margin-top: 5px;
    padding: {
      top: 30px;
      bottom: 30px;
    }
  }

  hr {
    margin: {
      left: $width-body-mobile / 4;
      right: $width-body-mobile / 4;
      top: 10px;
      bottom: 40px;
    }
    height: 1px;
  }
}
