@import "variables.scss";
@import "mixins.scss";

@media only screen and (max-width: 768px) {
  .navbar {
    height: 45px;
    margin: {
      top: 35px;
      bottom: 25px;
    }
  }

  nav a {
    font-size: 15px;
    margin-right: 15px;
  }

  .header-top {
    margin-top: 10px;
  }

  footer p {
    font-size: 15px;
  }

  #searchbar {
    margin: 0;
    height: 80px;
    @include flex-align-centered;

    input[type='submit'] {
      font-size: 10px;
      margin: 0;
      width: 50px;
    }
  }

  #search-input {
    margin-right: 5px;
    min-width: 100px;
    width: calc(#{$width-body-mobile} - 500px);
    padding-left: 8px;
  }

  .filters {
    font-size: 11px;

    #photo-filter + label {
      padding-right: 20px;
    }
  }

  #top-teachers ul {
    margin-bottom: 0;
    @include grid-layout(160px);
  }

  .teacher {
    margin: {
      right: 35px;
      left: 35px;
      bottom: 40px;
    }


    p {
      margin-top: 45px;
      font-size: 10px;
    }
  }

  .star {
    margin-right: -10px;
  }

  .comp-card {
    width: 100px;
    height: 100px;

    p {
      font-size: 17px;
      margin: {
        top: 15px;
        bottom: 20px;
      }
    }
  }

  .add-button {
    font-size: 15px;
    width: calc(#{$width-body-mobile} - 500px);
    min-width: 100px;
    max-width: 150px;
  }

  .popup-header {
    h2 {
      font-size: 20px;
      margin-top: 0;
    }

    a {
      margin: {
        right: 30px;
        top: 30px;
      }
      font-size: 20px;
    }
  }

  #add-popup {
    transform: translate(-50%, 1%);
    max-width: calc(#{$width-body-mobile} - 300px);
    min-width: 300px;
    height: 600px;
    box-shadow: 2px 3px 5px $color-box-shadow, -1px -2px 2px $color-box-shadow;

    h2 {
      padding-bottom: 15px;
    }

    a {
      margin: 20px 20px 0 0;
    }

    form {
      width: 80%;

      label {
        margin: {
          bottom: 5px;
          top: 10px;
        }
      }

      input, select {
        height: 25px;
      }

      .choice-div {
        margin-top: 7px;
      }

      #gender-container {
        label {
          margin: {
            right: 5px;
            left: 5px;
          }
        }
      }

      #submit-teacher {
        height: 50px;
        width: 80%;
        margin: {
          top: 20px;
          right: 20px;
          left: 20px;
        }
        float: none;
      }
    }
  }

  #info-popup {
    width: calc(#{$width-body-mobile} - 50px);
    transform: translate(-50%, 2%);
    height: 400px;
    box-shadow: 2px 3px 5px $color-box-shadow, -1px -2px 2px $color-box-shadow;

    #card {
      #avatar {
        width: 150px;
        height: 150px;
        margin: {
          left: 50px;
          right: 30px;
        }
      }

      #info-caption {
        font-size: 20px;
        margin-right: 50px;

        #fav-star {
          width: 20px;
          height: 20px;
        }
      }

      #personal-info {
        margin-top: 20px;
        p {
          margin-bottom: 10px;
        }
      }

      #other {
        padding-top: 20px;
        margin-left: 50px;

        p {
          margin-bottom: 10px;
        }

        a {
          margin-bottom: 20px;
          padding: 2px;
        }

        #map {
          width: 350px;
          height: 200px;
        }
      }
    }
  }

  .stat-table {
    tr:first-child {
      font-size: 17px;
    }

    th {
      &:first-child {
        padding-left: 15px;
      }
      padding: {
        top: 15px;
        bottom: 15px;
      }
    }

    td {
      &:first-child {
        padding-left: 15px;
      }
      font-size: 15px;
      padding: {
        top: 10px;
        bottom: 10px;
      }
    }
  }

  .table-pages {
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }

  #carousel-fav-list {
    width: calc(#{$width-body-mobile} - 100px);
    ul {
      width: 100%;
      @include grid-layout(160px);
      .fav-selected .comp-card {
        border-color: $color-border;
      }
    }

    .arrow {
      display: none;
    }

    .fa-chevron {
      &-left {
        margin-right: 15px;
      }
      &-right {
        margin-left: 15px;
      }
    }
  }
}