@media only screen and (max-width: 768px) {
  .navbar {
    height: 45px;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  .navbar nav a {
    font-size: 15px;
    margin-right: 15px;
  }

  #header-top {
    margin-top: 10px;
  }

  footer p {
    font-size: 15px;
  }

  #searchbar {
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
  }
  #searchbar #search-input {
    margin-right: 5px;
    min-width: 100px;
    width: calc(100vw - 500px);
    padding-left: 8px;
  }
  #searchbar input[type=submit] {
    font-size: 10px;
    margin: 0;
    width: 50px;
  }

  #filters {
    font-size: 11px;
  }
  #filters #photo-filter + label {
    padding-right: 20px;
  }

  #top-teachers ul {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .teacher {
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 40px;
  }
  .teacher .star {
    margin-right: -10px;
  }
  .teacher .comp-card {
    width: 100px;
    height: 100px;
  }
  .teacher .comp-card p {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .teacher p {
    margin-top: 45px;
    font-size: 10px;
  }

  .add-button {
    font-size: 15px;
    width: calc(100vw - 500px);
    min-width: 100px;
    max-width: 150px;
  }

  #info-header h2, #add-header h2 {
    font-size: 20px;
    margin-top: 0;
  }
  #info-header a, #add-header a {
    margin-right: 30px;
    margin-top: 30px;
    font-size: 20px;
  }

  #add-popup {
    transform: translate(-50%, 1%);
    max-width: calc(100vw - 300px);
    min-width: 300px;
    height: 600px;
    box-shadow: 2px 3px 5px #efefef, -1px -2px 2px #efefef;
  }
  #add-popup h2 {
    padding-bottom: 15px;
  }
  #add-popup a {
    margin: 20px 20px 0 0;
  }
  #add-popup form {
    width: 80%;
  }
  #add-popup form label {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  #add-popup form input, #add-popup form select {
    height: 25px;
  }
  #add-popup form .choice-div {
    margin-top: 7px;
  }
  #add-popup form #gender-container label {
    margin-right: 5px;
    margin-left: 5px;
  }
  #add-popup form #submit-teacher {
    height: 50px;
    width: 80%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    float: none;
  }

  #info-popup {
    width: calc(100vw - 50px);
    transform: translate(-50%, 2%);
    height: 400px;
    box-shadow: 2px 3px 5px #efefef, -1px -2px 2px #efefef;
  }
  #info-popup #card #avatar {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 30px;
  }
  #info-popup #card #info-caption {
    font-size: 20px;
    margin-right: 50px;
  }
  #info-popup #card #info-caption #fav-star {
    width: 20px;
    height: 20px;
  }
  #info-popup #card #personal-info {
    margin-top: 20px;
  }
  #info-popup #card #personal-info p {
    margin-bottom: 10px;
  }
  #info-popup #card #other {
    padding-top: 20px;
    margin-left: 50px;
  }
  #info-popup #card #other p {
    margin-bottom: 10px;
  }
  #info-popup #card #other a {
    margin-bottom: 20px;
    padding: 2px;
  }
  #info-popup #card #other #map {
    width: 350px;
    height: 200px;
  }

  #stat-table tr:first-child {
    font-size: 17px;
  }
  #stat-table th {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #stat-table th:first-child {
    padding-left: 15px;
  }
  #stat-table td {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #stat-table td:first-child {
    padding-left: 15px;
  }

  #table-pages {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #fav #carousel-fav-list {
    width: calc(100vw - 100px);
  }
  #fav #carousel-fav-list ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
  #fav #carousel-fav-list ul .fav-selected .comp-card {
    border-color: #f99589;
  }
  #fav #carousel-fav-list .arrow {
    display: none;
  }
  #fav #carousel-fav-list .fa-chevron-left {
    margin-right: 15px;
  }
  #fav #carousel-fav-list .fa-chevron-right {
    margin-left: 15px;
  }
}

/*# sourceMappingURL=mobile.css.map */
