@import "variables.scss";

.stat-table {
  width: 100%;

  th, td {
    text-align: left;
  }

  th + th, td + td {
    text-align: center;
  }

  tbody tr:nth-child(odd) {
      background-color: $color-grey-pink;
  }

  thead tr {
    font-size: 17px;
    background-color: $color-white;
  }

  th {
    &:first-child {
      padding-left: 20px;
    }
    border-bottom: 1px $color-black solid;
    padding: {
      top: 18px;
      bottom: 18px;
    }
    &:hover {
      background-color: $color-box-shadow;
      border-bottom: 5px $color-black solid;
    }
  }

  td {
    &:first-child {
      padding-left: 20px;
    }
    padding: {
      top: 13px;
      bottom: 13px;
    }
  }
}

.table-pages {
  width: 100%;
  text-align: left;
  margin: {
    top: 40px;
    bottom: 40px;
  }
  span {
    color: $color-link;
  }
  .page-selected {
    color: $color-black;
  }
}
