body {
  font-family: PT Sans, Segoe UI, Arial, sans-serif;
  color: #000000;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;
  box-shadow: 10px 0 5px -2px #efefef, -10px 0 5px -2px #efefef;
}

header, main, footer {
  width: 1000px;
  margin: auto;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Playfair Display Black, Bodoni MT, Georgia, Cambria, serif;
  text-align: left;
  font-size: 35px;
  font-weight: 900;
  color: #ffffff;
  text-shadow: -1px -2px #f75c49, 1px 2px #000000;
  letter-spacing: 1px;
}
h1:hover {
  color: #efefef;
}

h2 {
  border-top: 1px #000000 solid;
  width: 600px;
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #65b7e0;
}

hr {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 15px;
  margin-bottom: 50px;
  height: 1px;
  color: #000000;
  border-color: #000000;
}

.blurred {
  filter: blur(10px);
  box-shadow: none;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
  }

  header, main, footer {
    width: calc(100vw - 100px);
  }

  h1 {
    font-size: 25px;
    text-shadow: -1px -1px #f75c49, 1px 1px #000000;
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
  }

  h2 {
    width: 50vw;
    font-size: 23px;
    margin-top: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  hr {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 1px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    height: 45px;
    margin-top: 35px;
    margin-bottom: 25px;
  }

  nav a {
    font-size: 15px;
    margin-right: 15px;
  }

  .header-top {
    margin-top: 10px;
  }

  footer p {
    font-size: 15px;
  }

  #searchbar {
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
  }
  #searchbar input[type=submit] {
    font-size: 10px;
    margin: 0;
    width: 50px;
  }

  #search-input {
    margin-right: 5px;
    min-width: 100px;
    width: calc(100vw - 500px);
    padding-left: 8px;
  }

  .filters {
    font-size: 11px;
  }
  .filters #photo-filter + label {
    padding-right: 20px;
  }

  #top-teachers ul {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .teacher {
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 40px;
  }
  .teacher p {
    margin-top: 45px;
    font-size: 10px;
  }

  .star {
    margin-right: -10px;
  }

  .comp-card {
    width: 100px;
    height: 100px;
  }
  .comp-card p {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .add-button {
    font-size: 15px;
    width: calc(100vw - 500px);
    min-width: 100px;
    max-width: 150px;
  }

  .popup-header h2 {
    font-size: 20px;
    margin-top: 0;
  }
  .popup-header a {
    margin-right: 30px;
    margin-top: 30px;
    font-size: 20px;
  }

  #add-popup {
    transform: translate(-50%, 1%);
    max-width: calc(100vw - 300px);
    min-width: 300px;
    height: 600px;
    box-shadow: 2px 3px 5px #efefef, -1px -2px 2px #efefef;
  }
  #add-popup h2 {
    padding-bottom: 15px;
  }
  #add-popup a {
    margin: 20px 20px 0 0;
  }
  #add-popup form {
    width: 80%;
  }
  #add-popup form label {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  #add-popup form input, #add-popup form select {
    height: 25px;
  }
  #add-popup form .choice-div {
    margin-top: 7px;
  }
  #add-popup form #gender-container label {
    margin-right: 5px;
    margin-left: 5px;
  }
  #add-popup form #submit-teacher {
    height: 50px;
    width: 80%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    float: none;
  }

  #info-popup {
    width: calc(100vw - 50px);
    transform: translate(-50%, 2%);
    height: 400px;
    box-shadow: 2px 3px 5px #efefef, -1px -2px 2px #efefef;
  }
  #info-popup #card #avatar {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 30px;
  }
  #info-popup #card #info-caption {
    font-size: 20px;
    margin-right: 50px;
  }
  #info-popup #card #info-caption #fav-star {
    width: 20px;
    height: 20px;
  }
  #info-popup #card #personal-info {
    margin-top: 20px;
  }
  #info-popup #card #personal-info p {
    margin-bottom: 10px;
  }
  #info-popup #card #other {
    padding-top: 20px;
    margin-left: 50px;
  }
  #info-popup #card #other p {
    margin-bottom: 10px;
  }
  #info-popup #card #other a {
    margin-bottom: 20px;
    padding: 2px;
  }
  #info-popup #card #other #map {
    width: 350px;
    height: 200px;
  }

  .stat-table tr:first-child {
    font-size: 17px;
  }
  .stat-table th {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .stat-table th:first-child {
    padding-left: 15px;
  }
  .stat-table td {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .stat-table td:first-child {
    padding-left: 15px;
  }

  .table-pages {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #carousel-fav-list {
    width: calc(100vw - 100px);
  }
  #carousel-fav-list ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
  #carousel-fav-list ul .fav-selected .comp-card {
    border-color: #f99589;
  }
  #carousel-fav-list .arrow {
    display: none;
  }
  #carousel-fav-list .fa-chevron-left {
    margin-right: 15px;
  }
  #carousel-fav-list .fa-chevron-right {
    margin-left: 15px;
  }
}
.stat-table {
  width: 100%;
}
.stat-table th, .stat-table td {
  text-align: left;
}
.stat-table th + th, .stat-table td + td {
  text-align: center;
}
.stat-table tr:nth-child(odd) {
  background-color: #f9f5f9;
}
.stat-table tr:first-child {
  font-size: 17px;
  background-color: #ffffff;
}
.stat-table th {
  border-bottom: 1px #000000 solid;
  padding-top: 18px;
  padding-bottom: 18px;
}
.stat-table th:first-child {
  padding-left: 20px;
}
.stat-table th:hover {
  background-color: #efefef;
  border-bottom: 5px #000000 solid;
}
.stat-table td {
  padding-top: 13px;
  padding-bottom: 13px;
}
.stat-table td:first-child {
  padding-left: 20px;
}

.table-pages {
  width: 100%;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}
.table-pages span {
  color: #65b7e0;
}
.table-pages .page-selected {
  color: #000000;
}

/*# sourceMappingURL=stats.css.map */
