.teacher {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 45px;
  position: relative;
}
.teacher p {
  margin-top: 60px;
  font-size: 10px;
}

.star {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}

.comp-card {
  margin: 0;
  width: 115px;
  height: 115px;
  border: 4px #f99589 solid;
  border-radius: 50%;
  cursor: pointer;
}
.comp-card:hover {
  border-color: #cc4836;
  transform: scale(1.01);
}
.comp-card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.comp-card p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 21px;
}

/*# sourceMappingURL=teacher.css.map */
