@import "variables.scss";
@import "mixins.scss";

.teacher {
  @include flex-align-centered;
  flex-direction: column;
  margin: {
    right: 40px;
    left: 40px;
    bottom: 45px;
  }
  position: relative;

  p {
    margin-top: 80px;
    font-size: 10px;
  }
}

.star {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}

.comp-card {
  margin: 0;
  width: 115px;
  height: 115px;
  border: 4px $color-border solid;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    border-color: $color-accent-hover;
    transform: scale(1.01);
  }

  img {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  a {
    @include flex-align-centered;
    justify-content: center;
    width: 100%;
    height: 100%;

    p {
      color: $color-accent-hover;
      font-size: 1.5em;
    }
  }

  p {
    font-size: 20px;
    margin: {
      top: 20px;
      bottom: 21px;
    }
  }
}
