@import "variables.scss";
@import "mixins.scss";

.filters {
  width: 100%;
  height: 20px;
  text-align: left;
  font-size: 11px;
  flex-flow: row wrap;
  @include flex-align-centered;

  p {
    @include flex-align-centered;
    height: 100%;
  }

  #photo-filter + label {
    border-right: 2px $color-grey dotted;
    padding-right: 45px;
  }

  input, label {
    @include flex-align-centered;
    height: 100%;
    color: $color-grey;
    &:hover {
      color: $color-black;
    }
  }

  input[type='checkbox'] {
    margin: {
      left: 25px;
      right: 7px;
    }
  }
}

#top-teachers ul {
  margin: {
    top: 30px;
    bottom: 20px;
  }
  width: 100%;
  @include grid-layout(200px);
}
