$color-border: #f99589;
$color-accent: #f75c49;
$color-accent-hover: #cc4836;
$color-box-shadow: #efefef;
$color-link: #65b7e0;
$color-link-hover: #1c8fad;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #999999;
$color-grey-pink: #f9f5f9;

$width-body: 1200px;
$width-body-mobile: 100vw;
$font-stack: PT Sans, Segoe UI, Arial, sans-serif;