@import "blocks/generals.scss";
@import "blocks/mobile.scss";
@import "blocks/stats.scss";
@import "blocks/top.scss";
@import "blocks/fav.scss";
@import "blocks/teacher.scss";

.navbar {
  height: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}

nav {
  @include flex-align-centered;

  height: 100%;
  float: left;

  a {
    color: $color-accent;
    font-size: 17px;
    margin-right: 45px;
    font-weight: 550;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.nav {
  &-header a:hover {
    color: $color-accent-hover;
  }

  &-footer a {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

footer p {
  text-align: left;
  margin-bottom: 20px;
}

#searchbar input[type='submit'] {
  color: $color-accent;
  border: 1px $color-accent solid;
  background-color: $color-white;
  font: bold 11px $font-stack;
  margin-top: 30px;
  width: 90px;
  height: 40px;

  &:hover {
    color: $color-white;
    background-color: $color-accent;
  }
}

#search-input {
  margin-right: 20px;
  width: 190px;
  height: 40px;
  padding-left: 8px;
}

.add-button {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  color: $color-accent;
  background-color: $color-white;
  border: 1px $color-border solid;
  padding: 3px;
  width: 170px;
  height: 50px;

  @include flex-align-centered;

  justify-content: center;
  float: right;
  cursor: pointer;
  background-size: 200% 200%;
  transition: background-position 0.25s;
  background-image: linear-gradient(to top, $color-accent 50%, $color-white 0);
  background-position: top;

  &:hover {
    color: $color-white;
    background-position: bottom;
  }
}

.popup-section {
  position: relative;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: -2%;
  transform: translate(-50%, 5%);
  z-index: 9;
  border: 1px solid $color-box-shadow;
  background-color: $color-white;
  box-shadow: 2px 3px 5px $color-box-shadow, -1px -2px 2px $color-box-shadow;
  max-width: $width-body - 250px;
}

.popup-header {
  position: relative;

  h2 {
    width: 100%;
    text-align: center;
    border: 0;
    font-size: 28px;
    margin-top: 0;
  }

  a {
    position: absolute;
    right: 0;
    top: -15%;
    margin: {
      right: 35px;
      top: 35px;
    }

    font-size: 21px;
    color: $color-black;
    cursor: pointer;
  }
}

#add-popup {
  width: 400px;
  height: 820px;
  min-height: 600px;

  form {
    width: 240px;
    margin: auto;

    & > label:not(#gender-label),
    & > input,
    & > select {
      width: 100%;
      display: inline-block;
    }

    label {
      text-align: left;
      display: inline;
      margin: {
        bottom: 10px;
        top: 15px;
      }
    }

    input,
    select {
      height: 32px;
    }

    .choice-div {
      @include flex-align-centered;

      justify-content: space-between;
      margin-top: 15px;

      legend {
        float: left;
      }
    }

    #gender-container {
      @include flex-align-centered;

      label {
        margin: {
          right: 8px;
          left: 8px;
        }
      }
    }

    #submit-teacher {
      width: 100%;
      height: 62px;
      background-color: $color-white;
      margin-top: 45px;

      &:hover {
        background-color: $color-accent-hover;
      }
    }
  }
}

#info-popup {
  width: $width-body - 250px;
  height: 600px;

  #card {
    height: 490px;

    #avatar {
      width: 320px;
      height: 320px;
      float: left;
      margin: {
        left: 80px;
        right: 40px;
      }
    }

    #info-caption {
      font-size: 35px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 80px;
    }

    #personal-info {
      margin-top: 50px;
      align-items: flex-start;

      p {
        margin-bottom: 22px;
      }

      a {
        color: $color-link-hover;
      }
    }

    #other {
      float: left;
      display: flex;
      align-items: flex-start;
      padding-top: 100px;
      margin-left: -360px;

      p {
        margin-bottom: 15px;
      }

      a {
        color: $color-link-hover;
        padding: 2px;
        border-bottom: 1px $color-link-hover dashed;
      }

      #map {
        display: none;
        width: 350px;
        height: 250px;
      }
    }
  }
}
