body {
  font-family: PT Sans, Segoe UI, Arial, sans-serif;
  color: #000000;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;
  box-shadow: 10px 0 5px -2px #efefef, -10px 0 5px -2px #efefef;
}

header, main, footer {
  width: 1000px;
  margin: auto;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Playfair Display Black, Bodoni MT, Georgia, Cambria, serif;
  text-align: left;
  font-size: 35px;
  font-weight: 900;
  color: #ffffff;
  text-shadow: -1px -2px #f75c49, 1px 2px #000000;
  letter-spacing: 1px;
}
h1:hover {
  color: #efefef;
}

h2 {
  border-top: 1px #000000 solid;
  width: 600px;
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #65b7e0;
}

hr {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 15px;
  margin-bottom: 50px;
  height: 1px;
  color: #000000;
  border-color: #000000;
}

.blurred {
  filter: blur(10px);
  box-shadow: none;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100vw;
  }

  header, main, footer {
    width: calc(100vw - 100px);
  }

  h1 {
    font-size: 25px;
    text-shadow: -1px -1px #f75c49, 1px 1px #000000;
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
  }

  h2 {
    width: 50vw;
    font-size: 23px;
    margin-top: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  hr {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 1px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    height: 45px;
    margin-top: 35px;
    margin-bottom: 25px;
  }

  nav a {
    font-size: 15px;
    margin-right: 15px;
  }

  .header-top {
    margin-top: 10px;
  }

  footer p {
    font-size: 15px;
  }

  #searchbar {
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
  }
  #searchbar input[type=submit] {
    font-size: 10px;
    margin: 0;
    width: 50px;
  }

  #search-input {
    margin-right: 5px;
    min-width: 100px;
    width: calc(100vw - 500px);
    padding-left: 8px;
  }

  .filters {
    font-size: 11px;
  }
  .filters #photo-filter + label {
    padding-right: 20px;
  }

  #top-teachers ul {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .teacher {
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 40px;
  }
  .teacher p {
    margin-top: 45px;
    font-size: 10px;
  }

  .star {
    margin-right: -10px;
  }

  .comp-card {
    width: 100px;
    height: 100px;
  }
  .comp-card p {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .add-button {
    font-size: 15px;
    width: calc(100vw - 500px);
    min-width: 100px;
    max-width: 150px;
  }

  .popup-header h2 {
    font-size: 20px;
    margin-top: 0;
  }
  .popup-header a {
    margin-right: 30px;
    margin-top: 30px;
    font-size: 20px;
  }

  #add-popup {
    transform: translate(-50%, 1%);
    max-width: calc(100vw - 300px);
    min-width: 300px;
    height: 600px;
    box-shadow: 2px 3px 5px #efefef, -1px -2px 2px #efefef;
  }
  #add-popup h2 {
    padding-bottom: 15px;
  }
  #add-popup a {
    margin: 20px 20px 0 0;
  }
  #add-popup form {
    width: 80%;
  }
  #add-popup form label {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  #add-popup form input, #add-popup form select {
    height: 25px;
  }
  #add-popup form .choice-div {
    margin-top: 7px;
  }
  #add-popup form #gender-container label {
    margin-right: 5px;
    margin-left: 5px;
  }
  #add-popup form #submit-teacher {
    height: 50px;
    width: 80%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    float: none;
  }

  #info-popup {
    width: calc(100vw - 50px);
    transform: translate(-50%, 2%);
    height: 400px;
    box-shadow: 2px 3px 5px #efefef, -1px -2px 2px #efefef;
  }
  #info-popup #card #avatar {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 30px;
  }
  #info-popup #card #info-caption {
    font-size: 20px;
    margin-right: 50px;
  }
  #info-popup #card #info-caption #fav-star {
    width: 20px;
    height: 20px;
  }
  #info-popup #card #personal-info {
    margin-top: 20px;
  }
  #info-popup #card #personal-info p {
    margin-bottom: 10px;
  }
  #info-popup #card #other {
    padding-top: 20px;
    margin-left: 50px;
  }
  #info-popup #card #other p {
    margin-bottom: 10px;
  }
  #info-popup #card #other a {
    margin-bottom: 20px;
    padding: 2px;
  }
  #info-popup #card #other #map {
    width: 350px;
    height: 200px;
  }

  .stat-table tr:first-child {
    font-size: 17px;
  }
  .stat-table th {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .stat-table th:first-child {
    padding-left: 15px;
  }
  .stat-table td {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .stat-table td:first-child {
    padding-left: 15px;
  }

  .table-pages {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #carousel-fav-list {
    width: calc(100vw - 100px);
  }
  #carousel-fav-list ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
  #carousel-fav-list ul .fav-selected .comp-card {
    border-color: #f99589;
  }
  #carousel-fav-list .arrow {
    display: none;
  }
  #carousel-fav-list .fa-chevron-left {
    margin-right: 15px;
  }
  #carousel-fav-list .fa-chevron-right {
    margin-left: 15px;
  }
}
.stat-table {
  width: 100%;
}
.stat-table th, .stat-table td {
  text-align: left;
}
.stat-table th + th, .stat-table td + td {
  text-align: center;
}
.stat-table tbody tr:nth-child(odd) {
  background-color: #f9f5f9;
}
.stat-table thead tr {
  font-size: 17px;
  background-color: #ffffff;
}
.stat-table th {
  border-bottom: 1px #000000 solid;
  padding-top: 18px;
  padding-bottom: 18px;
}
.stat-table th:first-child {
  padding-left: 20px;
}
.stat-table th:hover {
  background-color: #efefef;
  border-bottom: 5px #000000 solid;
}
.stat-table td {
  padding-top: 13px;
  padding-bottom: 13px;
}
.stat-table td:first-child {
  padding-left: 20px;
}

.table-pages {
  width: 100%;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}
.table-pages span {
  color: #65b7e0;
}
.table-pages .page-selected {
  color: #000000;
}

.filters {
  width: 100%;
  height: 20px;
  text-align: left;
  font-size: 11px;
  display: flex;
  align-items: center;
}
.filters p {
  display: flex;
  align-items: center;
  height: 100%;
}
.filters #photo-filter + label {
  border-right: 2px #999999 dotted;
  padding-right: 45px;
}
.filters input, .filters label {
  display: flex;
  align-items: center;
  height: 100%;
  color: #999999;
}
.filters input:hover, .filters label:hover {
  color: #000000;
}
.filters input[type=checkbox] {
  margin-left: 25px;
  margin-right: 7px;
}

#top-teachers ul {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

#fav {
  width: 100%;
}

#carousel-fav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
}
#carousel-fav-list ul {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.fav-selected .comp-card {
  border: 4px #cc4836 solid;
}

.arrow {
  font-size: 65px;
  color: #999999;
  display: inline;
}

.fa-chevron-left {
  margin-right: 20px;
}
.fa-chevron-right {
  margin-left: 20px;
}

.teacher {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 45px;
  position: relative;
}
.teacher p {
  margin-top: 80px;
  font-size: 10px;
}

.star {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.comp-card {
  margin: 0;
  width: 115px;
  height: 115px;
  border: 4px #f99589 solid;
  border-radius: 50%;
  cursor: pointer;
}
.comp-card:hover {
  border-color: #cc4836;
  transform: scale(1.01);
}
.comp-card img {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.comp-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.comp-card a p {
  color: #cc4836;
  font-size: 1.5em;
}
.comp-card p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 21px;
}

.navbar {
  height: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  float: left;
}
nav a {
  color: #f75c49;
  font-size: 17px;
  margin-right: 45px;
  font-weight: 550;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.nav-header a:hover {
  color: #cc4836;
}
.nav-footer a {
  color: #65b7e0;
}
.nav-footer a:hover {
  color: #1c8fad;
}

footer p {
  text-align: left;
  margin-bottom: 20px;
}

#searchbar input[type=submit] {
  color: #f75c49;
  border: 1px #f75c49 solid;
  background-color: #ffffff;
  font: bold 11px PT Sans, Segoe UI, Arial, sans-serif;
  margin-top: 30px;
  width: 90px;
  height: 40px;
}
#searchbar input[type=submit]:hover {
  color: #ffffff;
  background-color: #f75c49;
}

#search-input {
  margin-right: 20px;
  width: 190px;
  height: 40px;
  padding-left: 8px;
}

.add-button {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  color: #f75c49;
  background-color: #ffffff;
  border: 1px #f99589 solid;
  padding: 3px;
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  cursor: pointer;
  background-size: 200% 200%;
  transition: background-position 0.25s;
  background-image: linear-gradient(to top, #f75c49 50%, #ffffff 0);
  background-position: top;
}
.add-button:hover {
  color: #ffffff;
  background-position: bottom;
}

.popup-section {
  position: relative;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 3%;
  transform: translate(-50%, 5%);
  z-index: 9;
  border: 1px solid #efefef;
  background-color: #ffffff;
  box-shadow: 2px 3px 5px #efefef, -1px -2px 2px #efefef;
  max-width: 950px;
}

.popup-header {
  position: relative;
}
.popup-header h2 {
  width: 100%;
  text-align: center;
  border: 0;
  font-size: 28px;
  margin-top: 0;
}
.popup-header a {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 35px;
  margin-top: 35px;
  font-size: 21px;
  color: #000000;
  cursor: pointer;
}

#add-popup {
  width: 400px;
  height: 820px;
  min-height: 600px;
}
#add-popup form {
  width: 240px;
  margin: auto;
}
#add-popup form > label:not(#gender-label), #add-popup form > input, #add-popup form > select {
  width: 100%;
  display: inline-block;
}
#add-popup form label {
  text-align: left;
  display: inline;
  margin-bottom: 10px;
  margin-top: 15px;
}
#add-popup form input, #add-popup form select {
  height: 32px;
}
#add-popup form .choice-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
#add-popup form .choice-div legend {
  float: left;
}
#add-popup form #gender-container {
  display: flex;
  align-items: center;
}
#add-popup form #gender-container label {
  margin-right: 8px;
  margin-left: 8px;
}
#add-popup form #submit-teacher {
  width: 100%;
  height: 62px;
  background-color: #ffffff;
  margin-top: 45px;
}
#add-popup form #submit-teacher:hover {
  background-color: #cc4836;
}

#info-popup {
  width: 950px;
  height: 600px;
}
#info-popup #card {
  height: 490px;
}
#info-popup #card #avatar {
  width: 320px;
  height: 320px;
  float: left;
  margin-left: 80px;
  margin-right: 40px;
}
#info-popup #card #info-caption {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 80px;
}
#info-popup #card #personal-info {
  margin-top: 50px;
  align-items: flex-start;
}
#info-popup #card #personal-info p {
  margin-bottom: 22px;
}
#info-popup #card #personal-info a {
  color: #1c8fad;
}
#info-popup #card #other {
  float: left;
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  margin-left: -360px;
}
#info-popup #card #other p {
  margin-bottom: 15px;
}
#info-popup #card #other a {
  color: #1c8fad;
  padding: 2px;
  border-bottom: 1px #1c8fad dashed;
}
#info-popup #card #other #map {
  display: none;
  width: 350px;
  height: 250px;
}

/*# sourceMappingURL=style.css.map */
